<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Author</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .author {
            margin-bottom: 20px;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }

        .author-number {
            flex: 0 0 50px;
            padding: 10px;
            background-color: #3498db;
            color: #fff;
            border-radius: 5px;
            text-align: center;
            font-size: 16px;
            margin-right: 5px;
        }

        .author-info {
            text-align: left;
            font-size: 16px;
            margin-bottom: 10px;
            flex-grow: 1;
            margin-right: 10px; /* Jarak antara info dan detail */
        }

        .author-details a {
            text-decoration: none;
            color: #3498db;
            font-weight: bold;
        }

        .author-details a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>List Author</h1>
        <% authors.forEach((author, i) => { %>
        <div class="author">
            <div class="author-number"><%= i + 1 %></div>
            <div class="author-info">
                <strong>Author Name:</strong>
                <%= author.authorName %><br>
            </div>
            <div class="author-details">
                <a href="/authors/detail/<%= author.id %>">See Detail</a>
            </div>
        </div>
        <% }) %>
    </div>
</body>

</html>
