<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <!-- Memanggil file Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Menambah sedikit CSS untuk tampilan */
        body {
            background-image: url('assets/background.jpg');
            background-size: cover;
        }

        .fillPage {
            text-align: center;
            padding: 130px;
            position: absolute;
            width: 100%;
        }

        footer {
            background-color: #00000065;
            color: white;
            text-align: center;
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .button2:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        /* Mengubah warna teks tombol Register dan Login menjadi putih */
        .navbar-dark .navbar-nav .nav-link {
            color: white;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #00000065;">
        <a class="navbar-brand" href="#">
            <!-- Ganti url di bawah dengan url logo Anda -->
            <img src="assets/logo.png" width="40" height="30" class="d-inline-block align-top" alt="">
            Quotes Nature
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/regits">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="fillPage">
        <br>
        <h1>"<%= quote.text %>"</h1>
        <h4 style="margin-top: 20px !important;">-<%= quote.author %>-</h4>
        <br>

        <a href="/landingPage">Get new quote</a>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 Hacktiv8 Didhy & Ilham</p>
        </div>
    </footer>

    <!-- Memanggil file Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>